<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />

<body>
	
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	
	<div class="container">
	
		<h2 th:if="${!isFriend}" th:text="#{Title.post.list}">Mis publicaciones</h2>
		<h2 th:if="${isFriend}" th:text="#{Title.post.friend.list} + ' ' + ${friendName}">Mis publicaciones</h2>

		<div class="panel panel-default" th:each="post : ${postsList}">
		
			<div class="panel-heading" th:text="${post.title}">
				Título de la publicación>
			</div>
			
			<div class="panel-body" th:text="${#dates.format(post.date, 'dd/MM/yyyy HH:mm')}">
				Fecha de la publicación
			</div>
			
			<div class="panel-body" th:if="${post.containsImage}">
				<img th:src="${'/fotossubidas/' + post.id + '.jpg'}" +  th:alt="#{post.list.image}" />
			</div>
			
		</div>
		
	</div>
	
	<footer th:replace="fragments/footer" />
	
</body>
</html>