<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />

<body>
	<nav th:replace="fragments/nav" />
	
	<div class="container" style="text-align: center">
	
		<h2 th:text="#{welcome.message}"></h2>
		<h3>Esta es una zona privada de la web</h3>

		<p>
			 Usuario Autenticado como :
			 <span sec:authentication="principal.username" th:inline="text"></span>
		</p>

		<p>Notas del usuario</p>
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="col-md-1">id</th>
						<th>Descripción</th>
						<th>Puntuación</th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="mark : ${markList}">
						<td th:text="${mark.id}">1</td>
						<td th:text="${mark.description}">Ejercicio 1</td>
						<td th:text="${mark.score}">10</td>
						<td><a th:href="${'/mark/details/' + mark.id}" th:text="#{list.details}">detalles</a></td>
	    					<td><a sec:authorize="hasRole('ROLE_PROFESSOR')" 
					    			th:href="${'/mark/edit/' + mark.id}" th:text="#{list.modify}">modificar</a></td>
					    <td><a sec:authorize="hasRole('ROLE_PROFESSOR')"
					    			th:href="${'/mark/delete/' + mark.id}" th:text="#{list.delete}">eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
	
	<footer th:replace="fragments/footer" />

</body>
</html>