<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />

<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />

	<div class="container">

		<h2>Registráte como usuario</h2>
		<form class="form-horizontal" method="post" action="/signup" th:object="${user}">
			
			<div class="form-group">
				<label class="control-label col-sm-2" for="email" 
					th:text="{#Label.signup.email}">Email:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="email"
						th:placeholder="#{Placeholder.signup.email}" required="true" />
					<span class="text-danger" th:if="${#fields.hasErrors('email')}"
						th:errors="*{email}">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="name"
					th:text="#{Label.signup.name}">Nombre:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="name"
						th:placeholder="#{Placeholder.signup.name}" required="true" />
					<span class="text-danger" th:if="${#fields.hasErrors('name')}"
 						th:errors="*{name}"/>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="lastName"
					th:text="#{Label.signup.lastName}">Apellidos:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="lastName"
						th:placeholder="#{Placeholder.signup.lastName}" required="true" />
					<span class="text-danger" th:if="${#fields.hasErrors('lastName')}"
 						th:errors="*{lastName}"/>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="password"
					th:text="#{Label.signup.password}">Password:</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" name="password"
						th:placeholder="#{Placeholder.signup.password}" />
					<span class="text-danger" th:if="${#fields.hasErrors('password')}"
 						th:errors="*{password}"/>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="passwordConfirm"
					th:text="#{Label.signup.passwordConfirm}">Repita
					el Password:</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" name="passwordConfirm"
						th:placeholder="#{Placeholder.signup.passwordConfirm}" />
					<span class="text-danger" th:if="${#fields.hasErrors('passwordConfirm')}"
 						th:errors="*{passwordConfirm}"/>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary"
						th:text="#{Submit.signup}">Registrarse</button>
				</div>
			</div>
			
		</form>

	</div>

	<footer th:replace="fragments/footer" />
	
</body>
</html>